# Introduction to Databases -- Lecture 1: Introduction

From the [Columbia University Bulletin](http://bulletin.columbia.edu/columbia-college/departments-instruction/computer-science/#coursestext)

"The fundamentals of database design and application development using databases: entity-relationship modeling, logical design of relational databases, relational data definition and manipulation languages, SQL, query processing, transaction processing. Programming projects are required."

## About your instructor

- _Professor of Professional Practice,_ Dept. of Computer Science.


- Academic experience
    - Ph.D. in Computer Science, Columbia University, 1989
    - Joined Columbia as full time _Professor of Professional Practice_, 01-Jan-2018
    - 8 semesters as an adjunct professor teaching
        - _E6998: Topics in Computer Science_
            - Cloud Computing
            - Web and Internet Application Development
            - Web Application Servers and Applications
            - Microservices
        - _W4111 - Introduction to Databases_


- 30 years industry experience
    - [IBM Fellow](https://en.wikipedia.org/wiki/IBM_Fellow), Chief Architect for [IBM Software Group](https://en.wikipedia.org/wiki/IBM_Software_Group_(SWG)
    - Microsoft Technical Fellow
    - Executive Vice President, Chief Technology Officer, [CA Technologies](https://www.ca.com/us.html)
    - Vice President, CTO, Senior Fellow, [Dell Software Group](https://en.wikipedia.org/wiki/Dell_Software)
    - Co-Founder and CTO, [Seeka TV](https://seekatv.com/)


- Publications
    - Approximately 60 technical publications.
    - Authored, co-authored several standards in web applications and web services.
    - 12 patents.


- Personal and hobbies
    - Two amazing daughters (One is Barnard student. One is a sophomore in high school)
    - Interested in languages. Speak Spanish reasonably well and trying to learn Arabic.
    - Black Belt in Kenpo Karate
    - Amateur astronomy
    - Road bicycling
    - Officer in the New York Guard

<br>
<img src="http://www.donald-ferguson.net/blog/wp-content/uploads/2018/01/aboutme.jpeg">

## About this course

- This course is foundational, and will teach you the core concepts in
    - Data modeling
    - Data model implementation; Data manipulation.
    - Different database models and database management systems.
    - Implementation of data centric applications and systems.
    
    
- ANY non-trivial application
    - Requires a well-designed data model.
    - Implements a data model and manipulates data.
    - Uses a database management system.
    
    
- Understanding databases and database managements are core to the “hottest fields” in computer science, e.g.
    - Data science
    - Machine learning
    - Intelligent (utonomous) systems
    - Internet-of-Things
    - Cyber security 
    - Cloud Computing
    
   
- <span style="color:red"> __Personal perspective__
    - A large percent of my career has been spent figuring out or leading teams that figured out how to model, implement and manipulate data.
    - I have used the information in this class more than anything else I have learned.
    - This will likely be true for you.
</span>

## Course objectives

- Have fun, learn a lot and come to appreciate and enjoy some amazing technology.


- Provide a foundation that allows you to succeed in future courses. This is an _introduction_ to databases. The technology is crucial for
    - Advanced database classes
    - Machine learning
    - Big data, data analysis
    - Numerical, simulation and analytics in operations research, engineering, economics, finance, life sciences, etc.
    
    
- Enable you to successfully apply the technology in your work and profession.


- Have some cool stuff to talk about on interviews and resumes.

## Organization and logistics

- Lecture: 1010- 1125, Tuesday, Thursday, Havemeyer Hall Room 209

 
- Instructor: Donald F. Ferguson (dff@cs.columbia.edu)


- Instructor Office Hours: 
    - Tuesday, Thursday: 0900-1000
    - Tuesday, Thursday: 1130-1300
    - Location: 624 Shapiro/CEPSR
    
    
- Collaboration/Contact
    - The class is on [Piazza](piazza.com/columbia/spring2018/comsw4111_002_2018_1introductiontodatabases)
        - General questions
        - Clarification of homeworks, class material, etc.
    - Slack, for quick messages and questions.
        - Direct message to me, and
        - Please join slack and the channel [#w4111s18](https://join.slack.com/t/dff-columbia/shared_invite/enQtMjg0Mzk4MTQwMzQxLTZlNzk3OTZmNWE2NzNmNzViZmJlMWVmNWVlZmUxZTU5NjkwYjQ1YTdjMzA3ZTMzZDM3ZmIwYzAyYjIwYTNkZDI) for quick questions/comments to class.

    - The course lectures, sample code, etc. will be on a [GitHub project](https://donald-f-ferguson.github.io/w4111-Databases/) for the class.
    - Course Assistants
        - TBA
        - Will join Piazza and Slack channel, and announce office hours, contact info, etc.

## Assignments, exams and grades
- Point value of assignments and exams
    - 50%: Homework assignments
        - Approximately one HW every two weeks, for a total of 7 or 8.
        - Some will be slightly harder for extra points.
        - Mix of programming assignments and questions.
    - Exams: All exams are "take home exams."
        - Mix of programming assignments and questions.
        - 20% of grade is midterm exam score.
        - 30% is final exam score. 
    - Extra-credit
        - Class participation, contributions on Piazza and office hour participation earn extra-credit points.
        - There will be extra-credit homework projects to enable making up points lost on homeworks or exams.


- Late submission
    - You have a total of 5 grace days to apply for all homeworks.
    - 1 minute past the due date counts for 1 day. 24 hours + 1 minute counts for two days.
    - You cannot use grace days for midterm, final exam or extra-credit assignments.
    - NOTE:
        - Respect for the individual is paramount. 
        - We will always accomodate illness, family emergencies, etc.

## Environment and material
- Course material
    - Textbook:
        - _Database Management Systems, 3rd Edition_, Ramakrishnan and Gehrke, ISBN: 978-0072465631
        - We will cover a subset of the material in the textbook, and in a different order.
        - I will bring in examples from industry, engineering and practical experience.
    - Lecture material and examples:
        - Will be Jupyter Notebooks (http://jupyter.org/)
        - Notebooks, slides, sample code, etc. will be available on [GitHub project](https://donald-f-ferguson.github.io/w4111-Databases/) for the course.
        
        
- Project and development
    - I will primarily use Python and/or JavaScript.
    - You can use the language of your choice, but my ability to help diminishes if you choose a language other than JavaScript, Python or Java.
    
    
- Development environment
    - Database engines and tools
        - We will start with the relational datamodel. Please install
            - [MySQL](https://dev.mysql.com/doc/refman/5.7/en/installing.html) and
            - [MySQL Workbench](https://dev.mysql.com/doc/workbench/en/wb-installing.html).
            - You can also use Sequel Pro on in place of SQL Workbench (on Mac).
        - We will also use [Neo4j](https://neo4j.com/) and Redis (https://redis.io/), but you do not need to install now.
    - [Integrated Development Environments](https://en.wikipedia.org/wiki/Integrated_development_environment)
        - The [JetBrains] tools are free for students, and useful for Python, JavaScript and Java.
        - [Eclipse](https://www.eclipse.org/) is an alternative.
        - I will use Ananconda for most of the lectures and examples. You can choose to install
            - Install Python 3
            - [Anaconda Community Distribution](https://www.anaconda.com/distribution)
            - Ananconda includes the [Spyder](https://github.com/spyder-ide/spyder) for Python, which is sufficient for the course.
            - <span style="color: red;">Homework submission will be easier if you use Jupyter notebooks, which are part of Anaconda.</span>
            
            
- I will provide links to online material providing definitions and optional information. I often use Wikipedia because it is a good starting point and has many references.

## Data

### What is data?

<img src="../images/Slide28.jpg" width="110%">

### Examples of Data

<img src="../images/Slide29.jpg" width="110%">

### Some ways to think about data

#### Structures vs Unstructured

<img src="../images/datastructure.jpg" width="120%">

We will focus on structured data and cover semi-structured 
- Need to constrain the scope for a one semester class.
- Concepts are foundational and apply to semi-structured and unstructured data.
- Unstructured data scenarios typically require extracting or extending with structured data.


#### [Data versus Metadata](https://en.wikipedia.org/wiki/Metadata)

Metadata is "data information that provides information about other data". Three distinct types of metadata exist: descriptive metadata, structural metadata, and administrative metadata.
- Descriptive metadata describes a resource for purposes such as discovery and identification. It can include elements such as title, abstract, author, and keywords.
- Structural metadata is metadata about containers of data and indicates how compound objects are put together, for example, how pages are ordered to form chapters. It describes the types, versions, relationships and other characteristics of digital materials.
- Administrative metadata provides information to help manage a resource, such as when and how it was created, file type and other technical information, and who can access it.

We will cover metadata, especially while studying relational data.

## Data explosion

<img src="../images/datasize.png">

- __DANGER:__ Math before caffeine.


- Gigabyte is 1024<sup>3</sup>=2<sup>30</sup>


- Zettabyte is 1024<sup>7</sup>=2<sup>70</sup>


- Ratio is 2<sup>70</sup>$/$2<sup>30</sup> = 2<sup>40</sup> = Big.


- This is approximately 470,000 laptops worth of data per person alive today.

## The Four Vs


<img src="../images/forvs.jpg" width="80%">

Some driving factors:
- Volume:
    - File/instance size: videos, images, VR, ...
    - Sources: Internet-of-Things, events and monitoring, ...
    
    
- Velocity:
    - Monitoring and events from everything.
    - Video and audio from everywhere.
    

- Veracity:
    - Measurement error and approximation.
    - Incorrect configuration, entry, processing applications.
    
    
- Variety:
    - Base types: several base models for structured data.
    - Every device emits its own event format.
    - Multiple encodings and formats of text (mail, web page, tweet) audio, video, ...

## Or, Maybe Five Vs

<img src="../images/fives.jpg" width="80%">

- Value: "It's like trying to find a needle in a haystack size pile of needles."

## Big data landscape

<img src="../images/landscape.png" width="100%">

## Databases

### Definitions

“A database is an organized collection of data.[1] It is the collection of schemas, tables, queries, reports, views, and other objects. The data are typically organized to model aspects of reality in a way that supports processes requiring information, such as modelling the availability of rooms in hotels in a way that supports finding a hotel with vacancies. (https://en.wikipedia.org/wiki/Database)”

“Systematically organized or structured repository of indexed information (usually as a group of linked data files) that allows easy retrieval, updating, analysis, and output of data. Stored usually in a computer, this data could be in the form of graphics, reports, scripts, tables, text, etc., representing almost every kind of information. Most computer applications (including antivirus software, spreadsheets, word-processors) are databases at their core.” (http://www.businessdictionary.com/definition/database.html)

### Simplistic example

<img src="../images/simpledb.jpg" width="50%">

- Entity – Data about a “Thing,” e.g.
    - Person
    - Web click
    - Product
- Fields (Properties) – The data describing, defining an entity. Often named and typed, e.g.
    - (Height, Integer)
    - (Last name, String)
- Entity Set/Collection/Table
    - A group of things.
    - Usually the same ”kind of entity”
- Relationships/Associations – Links between entities, which convey semantic information, e.g.
    - Don IsA Professor
    - Don Teaches {COMS4111, COMSE6998)
    
### Slightly Less Simplistic Example

<img src="../images/lessimple.jpg" width="75%">

## Database Management Systems

<img src="../images/Slide52.jpg" width="90%">
<img src="../images/Slide53.jpg" width="90%">
<img src="../images/Slide55.jpg" width="90%">

- We will primarily focus on 3 database management systems:
    1. Relational (MySQL)

    1. Graph Database (Neo4J)

    3. Key/Value- data structure store (Redis)


- Motivation:
    - https://db-engines.com/en/ranking adoption and growth.
    - Diversity of base models covers core patterns in _functionality_ and _performance._

## Data modeling

### Overview

<img src="../images/datamodel1.jpeg">
(https://en.wikipedia.org/wiki/Data_model)

“Data modeling (data modelling) is the analysis of data objects and their relationships to other data objects. Data modeling is often the first step in database design and object-oriented programming as the designers first create a conceptual model of how data items relate to each other. Data modeling involves a progression from conceptual model to logical model to physical schema.” (http://www.webopedia.com/TERM/D/data_modeling.html)

“What is a datamodel?
A data model is a notation for describing data or information. The description generally consists of three parts:
- Structure of data.
- Operations on the data.
- Constraints on the data.”<br>
(Database Systems: The Complete Book (2nd Edition)
by Hector Garcia-Molina (Author), Jeffrey D. Ullman (Author), Jennifer Widom (Author))

### Modling occurs in many  application domains

Some randomly (by Google) selected examples.
<br><br>
["Database application model and its service for drug discovery in Model-driven architecture"](https://doi.org/10.1186/s40537-015-0024-1)

<img src="../images/lifescience.gif">
<br><br>
[Enviro Data](http://geotech.com/envirodata)

<img src="../images/enviro2.jpg" width="100%">
<br><br>
[Government](https://gds.blog.gov.uk/2013/10/31/government-as-a-data-model-what-i-learned-in-estonia/) as a Data Model

<img src="../images/ukgov.png" widht="75%">

## Let's do this

### Set up

1. I downloaded [Lahman’s Baseball Database](http://www.seanlahman.com/baseball-archive/statistics/)<br><br>

1. Imported in MySQL DB server on my laptop.<br><br>
    1. Full data model
<img src="../images/lahman2016.png" width="66%"><br><br>
    1. Interesting subset (for now)
<img src="../images/lahmansmall.jpeg" width="33%"><br><br>   

1. Data model
    1. You can think of each one of the rectangles being a single comma separated value file.
    1. Lines indicate how to use columns from one file to find columns in another file. For example
        1. playerID can be used to find name information in Master.
        2. playerID can be use to fine batting information in Batting.
<br><br>
1. I want to know the 10 greatest career hitters whose last appearance was 1960 or later. A simple algorithm is
    1. For each unique playerID in Batting
        1. Find the batting records for each year.
        1. If one of the years >= 1960. Compute over all years
            1. Total at bats
            1. Toal hits
            1. Batting average
    1. For every result from above, use the playerID to look the name up in Master. Add to result.
    1. Sort result by batting average descending.

### Execution I

__Data__

In [10]:

import mysql.connector
import pandas as pd

config = {
  'user': 'dbuser',
  'password': 'dbuser',
  'host': '127.0.0.1',
  'database': 'lahman2016',
  'raise_on_warnings': True,
  'charset' : 'utf8'
}

cnx = mysql.connector.connect(**config)

def count_of_people():
    cursor=cnx.cursor()
    q = "SELECT count(*) AS number_of_people FROM Master;"
    print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchone()
    #print("Query result = ", r)
    return r[0]

def count_of_appearances():
    cursor=cnx.cursor()
    q = "SELECT count(*) AS number_of_appearances FROM Appearances;"
    print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchone()
    #print("Query result = ", r)
    return r[0]

def count_of_batting_records():
    cursor=cnx.cursor()
    q = "SELECT count(*) AS number_of_batting FROM Batting;"
    print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchone()
    #print("Query result = ", r)
    return r[0]

def ten_best_hitters():
    q = "SELECT \
        Batting.playerID, \
        (SELECT Master.nameFirst FROM Master WHERE Master.playerID=Batting.playerID) as first_name, \
        (SELECT Master.nameLast FROM Master WHERE Master.playerID=Batting.playerID) as last_name, \
        sum(Batting.h)/sum(batting.ab) as career_average, \
        sum(Batting.h) as career_hits, \
        sum(Batting.ab) as career_at_bats,\
        min(Batting.yearID) as first_year, \
        max(Batting.yearID) as last_year \
        FROM \
        Batting \
        GROUP BY \
        playerId \
        HAVING \
        career_at_bats > 200 AND last_year >= 1960 \
        ORDER BY \
        career_average DESC \
        LIMIT 10;"
    
    cursor=cnx.cursor()
    print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchall()
    df_mysql = pd.read_sql(q,cnx)
    #print( df_mysql)
    #print("Query result = ", r)
    return df_mysql

c_people=count_of_people()
c_appearances=count_of_appearances()
c_batting=count_of_batting_records()
ten_best = ten_best_hitters()

print("\n***********************")
print("The number of people in the baseball database is ", c_people)
print("The number of appearances in the baseball database is ", c_appearances)
print("The number of batting records in the baseball database is ", c_batting)
print("\nThe 10 best hitters are \n", ten_best)

Query =  SELECT count(*) AS number_of_people FROM Master;
Query =  SELECT count(*) AS number_of_appearances FROM Appearances;
Query =  SELECT count(*) AS number_of_batting FROM Batting;
Query =  SELECT         Batting.playerID,         (SELECT Master.nameFirst FROM Master WHERE Master.playerID=Batting.playerID) as first_name,         (SELECT Master.nameLast FROM Master WHERE Master.playerID=Batting.playerID) as last_name,         sum(Batting.h)/sum(batting.ab) as career_average,         sum(Batting.h) as career_hits,         sum(Batting.ab) as career_at_bats,        min(Batting.yearID) as first_year,         max(Batting.yearID) as last_year         FROM         Batting         GROUP BY         playerId         HAVING         career_at_bats > 200 AND last_year >= 1960         ORDER BY         career_average DESC         LIMIT 10;

***********************
The number of people in the baseball database is  19105
The number of appearances in the baseball database is  102761
The number of batting records in the baseball database is  102816

The 10 best hitters are
     playerID first_name last_name  career_average  career_hits  \
0  willite01        Ted  Williams          0.3444       2654.0
1  gwynnto01       Tony     Gwynn          0.3382       3141.0
2  musiast01       Stan    Musial          0.3308       3630.0
3  turnetr01       Trea    Turner          0.3285        114.0
4  boggswa01       Wade     Boggs          0.3279       3010.0
5  carewro01        Rod     Carew          0.3278       3053.0
6  cabremi01     Miguel   Cabrera          0.3208       2519.0
7  puckeki01      Kirby   Puckett          0.3181       2304.0
8  guerrvl01   Vladimir  Guerrero          0.3176       2590.0
9  clemero01    Roberto  Clemente          0.3173       3000.0

   career_at_bats  first_year  last_year
0          7706.0        1939       1960
1          9288.0        1982       2001
2         10972.0        1941       1963
3           347.0        2015       2016
4          9180.0        1982       1999
5          9315.0        1967       1985
6          7853.0        2003       2016
7          7244.0        1984       1995
8          8155.0        1996       2011
9          9454.0        1955       1972

### Execution II

__Metadata__

In [9]:
import mysql.connector
import pandas as pd

config = {
  'user': 'dbuser',
  'password': 'dbuser',
  'host': '127.0.0.1',
  'database': 'lahman2016',
  'raise_on_warnings': True,
  'charset' : 'utf8'
}

def describe_table(t):
    cursor=cnx.cursor()
    q = "show columns from  " + t + ";"
    #print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchall()
    df_mysql = pd.read_sql(q,cnx)
    return df_mysql
print("\n\n")
print("Master table is \n", describe_table("Master"))
print("\n\n")
print("Batting table is \n", describe_table("Batting"))

Master table is
            Field          Type Null  Key Default Extra
0       playerID  varchar(255)   NO  PRI    None
1      birthYear       int(11)  YES         None
2     birthMonth       int(11)   NO         None
3       birthDay       int(11)  YES         None
4   birthCountry  varchar(255)  YES         None
5     birthState  varchar(255)  YES         None
6      birthCity  varchar(255)  YES         None
7      deathYear  varchar(255)  YES         None
8     deathMonth  varchar(255)  YES         None
9       deathDay  varchar(255)  YES         None
10  deathCountry  varchar(255)  YES         None
11    deathState  varchar(255)  YES         None
12     deathCity  varchar(255)  YES         None
13     nameFirst  varchar(255)   NO         None
14      nameLast  varchar(255)   NO  MUL    None
15     nameGiven  varchar(255)  YES         None
16        weight       int(11)  YES         None
17        height       int(11)  YES         None
18          bats  varchar(255)  YES         None
19        throws  varchar(255)  YES         None
20         debut  varchar(255)  YES         None
21     finalGame  varchar(255)  YES         None
22       retroID  varchar(255)  YES         None
23       bbrefID  varchar(255)  YES         None



Batting table is
        Field          Type Null  Key Default Extra
0   playerID  varchar(255)   NO  PRI    None
1     yearID       int(11)   NO  PRI    None
2      stint       int(11)   NO  PRI    None
3     teamID  varchar(255)  YES         None
4       lgID  varchar(255)  YES         None
5          G       int(11)  YES         None
6         AB       int(11)  YES         None
7          R       int(11)  YES         None
8          H       int(11)  YES         None
9         2B       int(11)  YES         None
10        3B       int(11)  YES         None
11        HR       int(11)  YES         None
12       RBI       int(11)  YES         None
13        SB       int(11)  YES         None
14        CS       int(11)  YES         None
15        BB       int(11)  YES         None
16        SO       int(11)  YES         None
17       IBB  varchar(255)  YES         None
18       HBP  varchar(255)  YES         None
19        SH  varchar(255)  YES         None
20        SF  varchar(255)  YES         None
21      GIDP  varchar(255)  YES         None

### What happened?

- [Three-Tier Architecture](https://en.wikipedia.org/wiki/Multitier_architecture#Three-tier_architecture) is a common system architecture for combining
    - Application logic
    - Data
    - User interface logic
<br><br>
<img src="../images/tier3all.png" width="100%">
<br><br>
- In this simple example
    - The user interface is a web browser (Chrome)
    - The application server is the the Jupyter Notebook application running locally
        - Serving web content on locahost:8889.
        - Running the Python code and sending the SQL statements to MySQL and receiving responses.
    - The database server is mysqldb executable running locally and listening for commands on localhost:3306.
<br><br>
<img src="../images/local3tier.jpeg" width="100%">

## Application Context

We will initially use data, data models and databases to implement three applications.

_Online Information System_

<img src="../images/L1_baseball_app.jpeg">

_Social and Personal Networks_

<img src="../images/neo4j.jpeg">

[_Moneyball_](https://en.wikipedia.org/wiki/Moneyball)

<img src="../images/moneyball.png">

## What is next

1. Join collaboration environments (section 1.4)
<br><br>
1. Set up the development environment you want to use (section 1.6)
<br><br>
1. Read and review [Homework 1: Working with Data](https://courseworks2.columbia.edu/courses/53309/assignments/134452). We will discuss on Piazza and in the next lecture.